@import "../../assets/sass/fonts";
@import "../../assets/sass/colors";

html, body {
    font-family: $font-family;
    font-size: $fontsize;
    line-height: $lineheight;
    color: $foreground;

    user-select: text;
    text-shadow: $foreground-glow;

    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    background: $background;
    background-image: $background-gradient;
    background-attachment: fixed;
    //height: 100%;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    margin-top: env(safe-area-inset-top);
    margin-bottom: env(safe-area-inset-bottom);
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
}


.phosphor {
    padding-top: max(env(safe-area-inset-top),$lineheight);
    padding-bottom: max(env(safe-area-inset-bottom),$lineheight);
    padding-left: max(env(safe-area-inset-left),$lineheight);
    padding-right: max(env(safe-area-inset-right),$lineheight);
}

.underline {
    text-decoration: underline;
}

.center {
    text-align: center;
}

.title {
    text-align: center;
    border: solid;
    text-align: center;
    padding: 3mm;
}


.emphasis {
    color: $emphasis;
    text-shadow: $emphasis-glow;

    & > span.cursor {
        color: $emphasis;
        background-color: rgba($emphasis, 0.75);
    }
}

.small {
    font-size: $smallfontsize;
}

.alert {
    color: $alert;
    text-shadow: $alert-glow;

    & > span.cursor {
        color: $alert;
        background-color: rgba($alert, 0.75);
    }
}